Repository xenia-project/xenia, pull requests merged in 2019-08, with the labels that each got.

#1391 [Part 1] Update and move documentation from website to GitHub Wiki
  _config.yml
  compatibility.html
  download.md
  faq.md
  gallery.html
  quickstart.md
  roadmap.md
Labels: docs, website

#1392 [Part 2] Update and move documentation from website to GitHub Wiki
  README.md
  docs/building.md
Labels: docs

#1425 [Kernel] Implement RtlComputeCrc32.
  src/xenia/kernel/xboxkrnl/xboxkrnl_rtl.cc
Labels: enhancement, kernel

#1446 [x64] Unwind fixes.
  src/xenia/cpu/backend/x64/x64_backend.cc
  src/xenia/cpu/backend/x64/x64_code_cache.cc
  src/xenia/cpu/backend/x64/x64_code_cache.h
  src/xenia/cpu/backend/x64/x64_code_cache_win.cc
  src/xenia/cpu/backend/x64/x64_emitter.cc
  src/xenia/cpu/backend/x64/x64_emitter.h
Labels: bug, cpu, enhancement

#1447 Fix handling of paths to Python with spaces in xb.bat.
  xb.bat
Labels: bug

#1449 Fix up handling of positional options in cvar handling.
  src/xenia/app/xenia_main.cc
  src/xenia/base/cvar.cc
  src/xenia/base/cvar.h
  src/xenia/base/main.h
  src/xenia/base/main_posix.cc
  src/xenia/base/main_win.cc
  src/xenia/cpu/ppc/testing/ppc_testing_main.cc
  src/xenia/gpu/shader_compiler_main.cc
  src/xenia/gpu/vulkan/vulkan_trace_dump_main.cc
  src/xenia/gpu/vulkan/vulkan_trace_viewer_main.cc
  src/xenia/hid/hid_demo.cc
  src/xenia/ui/vulkan/vulkan_window_demo.cc
  src/xenia/vfs/vfs_dump.cc
  tools/build/src/test_suite_main.cc
Labels: bug
