Repository xenia-project/xenia, pull requests merged in 2019-05, with the labels that each got.

#1353 [Kernel] Add ObReferenceObjectByName
  src/xenia/kernel/xboxkrnl/xboxkrnl_ob.cc
Labels: enhancement, kernel

#1301 Update README and issue template
  .github/ISSUE_TEMPLATE.md
  README.md
Labels: docs, enhancement

#1351 [optimizations] More fast
  premake5.lua
Labels: enhancement

#1373 ppc disasm: BC formatting improvements
  src/xenia/cpu/ppc/ppc_opcode_disasm.cc
Labels: cpu, enhancement
