Repository xenia-project/xenia, pull requests merged in 2020-02, with the labels that each got.

#1534 Add F2 Hotkey to open current commit ID URL
  src/xenia/app/emulator_window.cc
  src/xenia/app/emulator_window.h
Labels: ui

#1517 [CPU] Change thunk layout and fix Linux thunk misalignment
  src/xenia/cpu/backend/x64/x64_backend.cc
  src/xenia/cpu/backend/x64/x64_stack_layout.h
Labels: cpu, platform-linux

#1540 [Base] Call SetThreadDescription to name threads
  src/xenia/base/threading_win.cc
Labels: enhancement

#1539 [CPU] Increased maximum function count
  src/xenia/cpu/backend/x64/x64_code_cache.h
Labels: cpu

#1491 [HID] Fix Demo for XInput
  src/xenia/hid/hid_demo.cc
Labels: bug, input

#1474 [App] Fix discord cvar
  src/xenia/app/xenia_main.cc
Labels: bug

#1535 [CPU] Implemented instructions: rldclx, rldcrx
  src/xenia/cpu/ppc/ppc_emit_alu.cc
Labels: cpu

#1498 [APU/Linux] Support cross platform audio
  premake5.lua
  src/xenia/app/premake5.lua
  src/xenia/app/xenia_main.cc
  src/xenia/apu/sdl/premake5.lua
  src/xenia/apu/sdl/sdl_audio_driver.cc
  src/xenia/apu/sdl/sdl_audio_driver.h
  src/xenia/apu/sdl/sdl_audio_system.cc
  src/xenia/apu/sdl/sdl_audio_system.h
Labels: apu, cross-platform, platform-linux

#1510 [Kernel] Rewrote ObReferenceObjectByHandle
  src/xenia/kernel/xboxkrnl/xboxkrnl_ob.cc
Labels: kernel

#1549 Update to new issue template workflow
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: docs
