Repository xenia-project/xenia, pull requests merged in 2020-11, with the labels that each got.

#1435 Implement debug functions for Linux
  src/xenia/base/debugging_posix.cc
Labels: debugger, platform-linux

#1689 [XAM] Rollup of user fixes.
  src/xenia/kernel/xam/user_profile.h
  src/xenia/kernel/xam/xam_user.cc
Labels: bug, enhancement, kernel

#1702 Use xenia-base entrypoint for test suites.
  tools/build/scripts/test_suite.lua
  tools/build/src/test_suite_main.cc
Labels: bug, enhancement, tests

#1706 [x64] Handle constant in LOG2_F32/F64/V128.
  src/xenia/cpu/backend/x64/x64_sequences.cc
Labels: bug, cpu
