Repository xenia-project/xenia, pull requests merged in 2020-07, with the labels that each got.

#1538 [XAM] Correct storage device ID fixes saving and storage detection
  src/xenia/kernel/xam/xam_content.cc
  src/xenia/kernel/xam/xam_ui.cc
Labels: bug, enhancement, kernel

#1624 [Kernel] Implemented NtQueueApcThread
  src/xenia/kernel/xboxkrnl/xboxkrnl_threading.cc
Labels: kernel

#1619 [Input] Fix doubling with any enabled.
  src/xenia/hid/input_system.cc
Labels: bug, input

#1629 [Kernel] Reject IO for paths with invalid characters.
  src/xenia/kernel/xboxkrnl/xboxkrnl_io.cc
  src/xenia/xbox.h
Labels: bug, kernel
