Repository xenia-project/xenia, pull requests merged in 2021-05, with the labels that each got.

#1747 [Kernel] Implemented: XeKeysHmacShaUsingKey
  src/xenia/kernel/xboxkrnl/xboxkrnl_crypt.cc
Labels: enhancement, kernel

#1771 [XAM/Content] Prevent deletion of open packages
  src/xenia/kernel/xam/content_manager.cc
  src/xenia/kernel/xam/content_manager.h
Labels: bug, enhancement, kernel

#1745 [Kernel/XAM] Dummy X_ACHIEVEMENT_DETAILS support
  src/xenia/kernel/xam/apps/xam_app.cc
  src/xenia/kernel/xam/xam_enum.cc
  src/xenia/kernel/xam/xam_user.cc
  src/xenia/kernel/xenumerator.cc
  src/xenia/kernel/xenumerator.h
Labels: bug, enhancement, kernel

#1803 More achievement fixes
  src/xenia/kernel/xam/xam_user.cc
Labels: bug, enhancement, kernel

#1810 Fix reference to old variable name in xenia-build.
  xenia-build
Labels: bug

#1733 [XAM] XamContentGetCreator check if package exists
  src/xenia/kernel/xam/xam_content.cc
Labels: bug, enhancement, kernel

#1737 [Kernel/XAM] CloseContent: Close files related to closed content
  src/xenia/kernel/xam/content_manager.cc
  src/xenia/kernel/xam/content_manager.h
Labels: enhancement, kernel
