Repository xenia-project/xenia, pull requests merged in 2021-06, with the labels that each got.

#1853 Logging fixes.
  src/xenia/base/logging.cc
Labels: bug, enhancement

#1854 Add missing break in logging.
  src/xenia/base/logging.cc
Labels: bug, enhancement

#1855 Fix HostPathFile access checks.
  src/xenia/vfs/devices/host_path_file.cc
Labels: bug, vfs

#1444 [Kernel] XBLA Fixes
  src/xenia/kernel/xam/apps/xgi_app.cc
  src/xenia/kernel/xam/apps/xlivebase_app.cc
  src/xenia/kernel/xam/xam_net.cc
  src/xenia/kernel/xam/xam_user.cc
Labels: kernel

#1859 [CPU] Suppress C4065 warning in SyscallHandler.
  src/xenia/cpu/ppc/ppc_frontend.cc
Labels: cpu, enhancement

#1410 [Kernel] Add APC support to NtWriteFile
  src/xenia/kernel/xboxkrnl/xboxkrnl_io.cc
Labels: kernel

#1863 [Kernel] Fix XStaticUntypedEnumerator item count.
  src/xenia/kernel/xenumerator.cc
Labels: bug, kernel
