Repository xenia-project/xenia, pull requests merged in 2022-01, with the labels that each got.

#1943 [xboxkrnl] Fix up XexGetProcedureAddress logging.
  src/xenia/kernel/xboxkrnl/xboxkrnl_modules.cc
Labels: enhancement, kernel

#1944 X_ERWLOCK fixes
  src/xenia/kernel/xboxkrnl/xboxkrnl_threading.cc
Labels: bug, enhancement, kernel

#1953 [XAM] Fix xeXMsgStartIORequestEx result check.
  src/xenia/kernel/xam/xam_msg.cc
Labels: bug, kernel

#1954 [Base] Fix MICROPROFILE_PRINTF.
  src/xenia/base/profiling.cc
Labels: bug

#1891 Rebindable keyboard controls
  src/xenia/hid/winkey/winkey_binding_table.inc
  src/xenia/hid/winkey/winkey_input_driver.cc
  src/xenia/hid/winkey/winkey_input_driver.h
Labels: enhancement, input

#1962 [XAM] Improvements to XamUserReadProfileSettingsEx/XamUserWriteProfileSettings.
  src/xenia/kernel/xam/user_profile.h
  src/xenia/kernel/xam/xam_user.cc
Labels: bug, enhancement, kernel

#1808 [APU] XMA: Fix audio loop handling
  src/xenia/apu/xma_context.cc
  src/xenia/apu/xma_context.h
Labels: apu

#1970 Help improvements
  src/xenia/app/emulator_window.cc
  src/xenia/app/emulator_window.h
Labels: enhancement, ui

#1973 Don't recursively init/update submodules.
  xenia-build
Labels: enhancement
